# *Fraud Transaction Detection*

#### **Dataset:**
The Dataset you can get through this link: https://github.com/Fraud-Detection-Handbook/simulated-data-raw

# Data Collection

## Importing the Relevant Libraries

In [9]:
import pandas as pd
import os

In [1]:
data_folder_path =  r"C:\Users\kshar\myfiles\projects\Fraud_transaction_detection\Data_files\data"

In [12]:
#list all the pickle files
files_data = [file for file in os.listdir(data_folder_path) if file.endswith('.pkl')]
# files_data[:5]

In [13]:
# Initialize an empty DataFrame to store the combined data
combined_df = pd.DataFrame()

In [16]:
#look through all pickle files and concatenate its data to the DataFrame
for file in files_data:
    file_path = os.path.join(data_folder_path,file)
    # Load each pickle file into a DataFrame
    df = pd.read_pickle(file_path)
    combined_df = pd.concat([combined_df,df],ignore_index= True)

In [17]:
combined_df

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,0,2018-04-01 00:00:31,596,3156,57.16,31,0,0,0
1,1,2018-04-01 00:02:10,4961,3412,81.51,130,0,0,0
2,2,2018-04-01 00:07:56,2,1365,146.00,476,0,0,0
3,3,2018-04-01 00:09:29,4128,8737,64.49,569,0,0,0
4,4,2018-04-01 00:10:34,927,9906,50.99,634,0,0,0
...,...,...,...,...,...,...,...,...,...
5262460,1754150,2018-09-30 23:56:36,161,655,54.24,15810996,182,0,0
5262461,1754151,2018-09-30 23:57:38,4342,6181,1.23,15811058,182,0,0
5262462,1754152,2018-09-30 23:58:21,618,1502,6.62,15811101,182,0,0
5262463,1754153,2018-09-30 23:59:52,4056,3067,55.40,15811192,182,0,0
5262464,1754154,2018-09-30 23:59:57,3542,9849,23.59,15811197,182,0,0